h1,h2,h3,p{
  margin: 5px 0px;
}

.bar{
  font-size: small;
  cursor: pointer;
  display: none;
}

.container{
  width: 80%;
  margin: auto;
  max-width: 1600px;
}

.intro{
  background-image: url("./images/eat.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  height: auto;
}

.mask{
  background-color: rgb(0,0,0,0.4);
  padding: 15% 5% 4% 5%;
}

.boxes{
  display: flex;
  justify-content: space-around;
}

.box{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2%;
  flex-basis: 25%;
  max-width: 270px;
}




@media(max-width:768px)
{
.bar{
  display: block;
}
}
